@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --backgroundcolor: #006E7F;
    --primarycolor: #EE5007;
    --secondarycolor: #F8CB2E;
    --thirdcolor: #B22727;
    --thirdcolorHover: #902825;
    --fourthcolor: #017e7f;
    --max-height: 1000px;
    --buttonShadow: #7c6616;
    --black: black;
    --white: #fefefe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* If you set box-sizing: border-box; on an element, padding and border are included in the width and height: */
    font-family: 'Press Start 2P', cursive;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundcolor);
    min-height: 100vh; /* Relative to 1% of the height of the browser window size */
    cursor: url("../img/auto_cursor.png"), auto;
    line-height: 1.5;
    overflow: hidden;
}

h1.title {
    text-align: center;
    font-size: 65px;
    margin-bottom: 50px;
    text-shadow: 5px 5px 0 var(--secondarycolor), 10px 10px 0 var(--primarycolor), 15px 15px 0 var(--thirdcolor), 20px 20px 0 var(--fourthcolor);
}

.wrapper {
    height: 800px;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
}

#menu {
    display: grid;
    height: auto;
}

.wrapper section {
    height: 100%;
}

.menu {
    width: 250px;
    background-color: var(--secondarycolor);
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.menu h1 {
    margin-bottom: 25px;
}

.menu span {
    font-size: 25px;
}

.pointView, .attemptsView, .timerView {
    padding: 30px;
    border: 1px solid var(--thirdcolor);
    box-shadow: inset -4px -4px 0 0 var(--thirdcolor);
}

.playground {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-content: center;

    min-width: 800px;
    background-color: var(--secondarycolor);
    padding: 25px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    user-select: none;
    flex: 1;
}

.playground img {
    width: 168px;
    cursor: url("../img/pointer_cursor.png"), pointer;
    margin: 0 auto;
    align-self: center;
    background: var(--primarycolor);
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 30px;
    padding-right: 3px;
    padding-bottom: 4px;
    font-family: "Press Start 2P", cursive;
    text-decoration: none;
    color: white;
    box-shadow: inset -4px -4px 0 0 var(--thirdcolor);
}


img:hover {
    background: #B22520;
    box-shadow: inset -4px -4px 0 0 var(--thirdcolorHover);
}

.shake {
    animation: shake 0.35s ease-in-out;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(10px);
    }
    60% {
        transform: translateX(-10px);
    }
    80% {
        transform: translateX(10px);
    }
}

.button {
    background: var(--secondarycolor);
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    font-family: "Press Start 2P", cursive;
    text-decoration: none;
    color: var(--black);
    box-shadow: inset -4px -4px 0 0 var(--buttonShadow);
    width: 100%;
    margin-bottom: 50px;
    cursor: url("../img/pointer_cursor.png"), pointer;
}
.button:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;

    top: -6px;
    left: 0;
    border-top: 6px var(--black) solid;
    border-bottom: 6px var(--black) solid;
}
.button:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;

    left: -6px;
    top: 0;
    border-left: 6px var(--black) solid;
    border-right: 6px var(--black) solid;
}

.button:hover {
    background: #d9b438;
    box-shadow: inset -4px -4px 0 0 #4aa52e;
}

.profile-container {
    display: flex;
    justify-content: space-between;
}

.profile-child {
    display: flex;
    padding: 1rem 1.5rem;
    border-color: var(--black);
    width: 470px;
    border-style: solid;
    border-width: 4px;
    align-items: center;
    justify-content: center;
}

.profile-child:first-child {
    margin-right: 10px;
}

.profile-child:last-child {
    margin-left: 10px;
}

.profile-child > .avatar {
    height: 150px;
}

.profile-child > .avatar:hover {
    background: none;
    box-shadow: none;
}

.profile-child > .content {
    margin-left: 50px;
}

.icon {
    height: 25px;
}

.icon:hover {
    background: none;
    box-shadow: none;
}

p {
    margin-bottom: 25px;
    font-size: 10px;
}

.level-container {
    padding: 1.5rem 2rem;
    border-color: var(--black);
    border-style: solid;
    border-width: 4px;
    margin: 0 10px;
    text-align: center;
}

.level-link {
    text-decoration: none;
    color: var(--black);
    cursor: url("../img/pointer_cursor.png"), pointer;
}

.title {
    padding: 0 0.5rem;
    margin: -41px 0 15px;
    font-size: 1rem;
    background-color: var(--backgroundcolor);
}

#levelGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    width: 1600px;
    height: 800px;
    align-items: center;
}

.star {
    height: 50px;
}

.star:hover {
    background: none;
    box-shadow: none;
}

#scores {
    margin-bottom: 60px;
}

.currentScore {
    text-align: center;
    margin-bottom: 20px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal-bild {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-bottom: 15px;
}

#modal-bild.made {
    content:url("../img/party.gif");
    width: 81px;
}

#modal-bild.error {
    content:url("../img/sad.gif");
    width: 81px;
}

#modal-bild.infos {
    content:url("../img/key_spacebar.png");
    width: 81px;
}

/* Modal Content */
.modal-content {
    background-color: var(--white);
    margin: auto;
    padding: 20px;
    border: 4px solid var(--black);
    text-align: center;
    justify-content: center;
}

#modal-bild {
    margin-top: 25px;
    margin-bottom: 15px;
}

#contentPopUp {
    font-size: unset;
    white-space: pre;
}

.buttonPopUp {
    background: var(--secondarycolor);
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    font-family: "Press Start 2P", cursive;
    text-decoration: none;
    color: var(--black);
    box-shadow: inset -4px -4px 0 0 var(--buttonShadow);
    cursor: url("../img/pointer_cursor.png"), pointer;
}
.buttonPopUp:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;

    top: -3px;
    left: 0;
    border-top: 3px var(--black) solid;
    border-bottom: 3px var(--black) solid;
}
.buttonPopUp:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;

    left: -3px;
    top: 0;
    border-left: 3px var(--black) solid;
    border-right: 3px var(--black) solid;
}
.buttonPopUp:hover {
    background: #d9b438;
    box-shadow: inset -4px -4px 0 0 #4aa52e;
}


#name_field {
    margin-top: 10px;
    display: block;
    background: var(--secondarycolor);
    position: relative;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    font-family: "Press Start 2P", cursive;
    text-decoration: none;
    color: var(--black);
    cursor: url("../img/pointer_cursor.png"), pointer;
    margin-bottom: 50px;
}

.exit {
    display: flex;
}

.exit > span:first-of-type {
    flex: 1;
}

.close {
    cursor: url("../img/pointer_cursor.png"), pointer;
    font-size: 20px;
    font-weight: bold;
}

span#error {
    color: var(--primarycolor);
    font-size: 15px;
}

.dropdown-content {
    position: relative;
}

.dropdown-content a {
    cursor: url("../img/pointer_cursor.png"), pointer;
    background-color: var(--thirdcolor);
    color: var(--secondarycolor);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    margin-bottom: 2px;
}

.dropdown a:hover {
    background-color: var(--primarycolor);
}

#heart{
    position:absolute;
    top: -400px;
    left: 10px;
    width: 5%;
    animation: drop 8s;
    animation-iteration-count: 1;
    z-index: 99;
}

#heart:hover {
    background: none;
    cursor: url("../img/pointer_cursor.png"), pointer;
    box-shadow: none;
}

@keyframes drop{
    100%{transform: translateY(var(--max-height))}
}

#healthBar {
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 30px;
    font-family: "Press Start 2P", cursive;
    text-decoration: none;
    color: var(--black);
    width: 80%;
    margin-bottom: 50px;
}
#healthBar:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;

    top: -6px;
    left: 0;
    border-top: 6px black solid;
    border-bottom: 6px black solid;
}
#healthBar:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;

    left: -6px;
    top: 0;
    border-left: 6px var(--black) solid;
    border-right: 6px var(--black) solid;
}

#healthBarContent {
    height: 10px;
    width: 100%;
    background: #B22520;
    box-shadow: inset -4px -4px 0 0 var(--thirdcolorHover);
    z-index: -1;
}

#bossCage {
    display: flex;
    flex: 0 0 20%;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    border: 1px solid var(--black);
}

#boss {
    width: 80%;
    margin-bottom: 30px;
}

#boss:hover {
    background: none;
    box-shadow: none;
    user-select: none;
}

div.mario{
    content:url("../img/benz.png");
    width: 100px;
    position: absolute;
    transition: all 0.1s;
    z-index: 99;
    background: none;
    box-shadow: none;
}